################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LessIsMore/.vs/LessIsMore
/LessIsMore/LessIsMore/bin/Debug/net6.0
/LessIsMore/LessIsMore/obj
/LessIsMore/.vs/ProjectEvaluation
